html{overflow-x: hidden;}
.wrapper{overflow-x: hidden;}

body{
  margin:0;
  text-align:center;
}
.product{
  text-align: center;
}
.catalog{
  display:flex;
  justify-content: center;
}
.cart{
  background-color: #C6AC8F;
  height: 1000px;
}
.cartNone{
  display:none;
}
