.wrapper{
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 5% 0 0 ;
}

body{
  margin: 0;
  text-align:center;
}
i{
  font-size: 3rem;
}
ul{
  list-style: none;
}
/* navbar styling */

/* main container styling */
.main {
  margin: 10% 0;
}
.hideBtn{
  position: absolute;
  right:5%;
  top:25%;
  z-index: 15;
  width:25px !important;
  height:25px;
  background-color: transparent;
  border:none;
}
.hideCartIcon{
  font-size: 1.5rem;
}
/* banner row styling */
/* categories ul styling */
.categories{
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  height:500px;
}
.catArrow{
  font-size: 1rem;
}
.catItem{
  width: 100%;
  display:flex;
  justify-content: space-between;
}
/* carousel styling */
.carousel {
height:500px;
margin: 0 0 10%;
}
.carousel-item{
  height:500px;
}
/* catalog styling */

.product{
  text-align: center;
}
.catalog{
  margin: 10% 0;
  height:100%;
  display:flex;
  justify-content: center;
}

/* cart styling */

.cart{
  overflow-y: scroll;
  position: fixed;
  right:0;
  background-color: white;
  border:solid grey 1px;
  height:100%;
  margin-bottom: 100%;
}
.cartNone{
  display:none;
}
.cartItem{
  margin: 5% 2%;
}
/* checkout section */
.totalCount{
  width:100%;
  padding:.5% .5% 3%;
  background-color: white;
  position: fixed;
  margin:0;
  bottom:0%;
  z-index: 10;
}
#totalCount{
  margin-bottom: 2%;
}
.btn-warning{
  display:block !important;
  text-align:center;
}
/* animations */
@keyframes cartHide {
 0%{

 }
 100%{

 }
}
@keyframes cartShow {

}
